__pycache__
.ipynb_checkpoints

# Latex generated
*.aux
*.log

# Visual Studio files
.vs
bin
obj
Properties

# redering results
*/Results/*/**
*/Results-*/*/**
*/Results-*/*.pdf
*/Results/*.pdf
*/Results-*/*.png
*/Results/*.png
!Webpage/Results/Vcm/index.html
!Webpage/Results/BidirSplit*/index.html

# generated figures
Teaser.pdf
VideoGen/Figure3/*